* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #303030;
  font-size: 1rem;
}

.title {
  color: #b9bdba;
  text-align: center;
  font-size: 2.5rem;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.bayan-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #87a274;
  border: 0.1rem solid rgb(45, 87, 45);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  padding: 0.5rem;
  transition: background .3s ease-out;
}

.label-text{
  font-size: 1.3rem;
}

.arrow{
  width: 15px;
  display: none;
  transition: transform .3s ease-in-out;
}

.bayan-input:checked ~ .bayan-label,
.bayan-item:hover  .bayan-label{
  background-color : green;
  color: #fff;
}

.bayan-img {
 width: 0;
 height: 0;
 transition: all .3s ease-in-out;
}


.bayan-inner {
  width: 100%;
  background-color: #b9bdba;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.bayan-inner:hover .bayan-img,
.bayan-input:checked ~.bayan-inner .bayan-img,
.bayan-label:hover ~.bayan-inner .bayan-img{
  height: 75%;
  width: 75%;
}


.bayan-item:hover .arrow,
.bayan-input:checked ~ .bayan-label .arrow{
  transform: rotate(180deg);
}

@media (min-width: 820px){

  .wrapper {
    max-width: 40%;
  }

  .title {
    font-size: 3rem;
  }
  .label-text{
    font-size: 1.2rem;
  }
    
  .wrapper:hover .arrow{
    display: block;
  }

  .bayan-label{
    cursor: pointer;
  }

  .bayan-inner{
    cursor: pointer;
  }
}

@media (min-width: 1218px) {
  .title {
    font-size: 3.4rem;
  }

  .bayan-item{
    cursor: pointer;
  }
  .wrapper {
    max-width: 40%;
  }
}
